.entangled-inject {
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 1em;
        border-left: thick solid #888;
        background: white;
        border-radius: 5pt;
        box-shadow: 1px 1px 3px 0px #ccc;
}

.entangled-inject div.sourceCode {
        margin: 0;
}

.entangled-inject pre {
        background: white;
        border: none;
        box-shadow: none;
        margin: 0;
}
        
